/* reset rules */
  a {
    color: black;
  }

  a:hover {
    color: white !important;
    text-decoration: none;
  }

  h2 {

    /* to overwrite bootstrap's CSS */
    margin-bottom: 0;
  }

  ul {

    /* to overwrite bootstrap's CSS */
    margin-bottom: 0;
    padding-left: 0;
  }

  li {
    list-style: none;
  }
/* /reset rules */

/* rules used or usable in different parts of the page */
  a {
    transition: color .2s linear;
  }

  a svg {
    transition: background-color .2s linear;
  }

  a svg path {
    transition: fill .2s linear;
  }

  /* progress bar */
  /*
  to have a complete progress bar you need to:
  1) add the following html code (or an analogous one):
    <div class="progress-bar-border">
      <div class="progress-bar-color">
        <div class="progress-bar-round-button">
        </div>
      </div>
    </div>
  2) add the desired width to the .progress-bar-border
  3) add the desired width to the .progress-bar-color
  */
    .progress-bar-border {
      height: 9px;
      margin: 0 5px 0 5px;
      border: 2px solid;
      border-radius: 3px;
      cursor: pointer;
    }

    .progress-bar-color {
      display: flex;
      height: 100%;
      border: 2px solid;
      border-radius: 1px;
      background-color: #b3b3b3;
      justify-content: flex-end;
    }

    .progress-bar-border:hover .progress-bar-color {
      background-color: rgb(30, 215, 96);
      border: 2px solid rgb(30, 215, 96);
    }

    .progress-bar-round-button {
      visibility: hidden;
      position: relative;
      left: 9px;
      bottom: 6px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #b3b3b3;
    }

    .progress-bar-border:hover .progress-bar-round-button {
      visibility: visible;
    }
  /* /progress bar */

/* /rules used or usable in different parts of the page */

/* rules used in specific parts of the page */
  html {

    /* to make a reference for the percentage heights of thix box's children */
    height: 100%;

    font-size: 14px;
  }

  body {

    /* to make a reference for the percentage heights of thix box's children */
    min-width: 720px;
    height: 100%;

    font-family: 'Roboto', sans-serif;
    letter-spacing: .04rem;
  }

  .left-navbar-and-main-container {
    display: flex;

    /* 90 px is the footer's height  */
    height: calc(100% - 90px);
  }

  /* left navbar */
    .left-navbar {
      display: flex;
      width: 230px;
      flex-shrink: 0;
      background-color: #181818;
      color: #b3b3b3;
      overflow-y: auto;
      flex-direction: column;
    }

    .left-navbar a {
      color: #b3b3b3;
    }

    .left-navbar svg path {
      fill: #b3b3b3;
    }

    .left-navbar a:hover svg path {
      fill: white;
    }

    .left-navbar-logo-section {
      padding-left: 25px;
      padding-top: 20px;
    }

    .left-navbar-logo-section .logo-img {
      width: 131px;
      height: 40px;
    }

    .left-navbar-home-search-section {
      padding-top: 25px;
    }

    .left-navbar-home-search-section li {
      display: flex;
      height: 40px;
      border-left: 4px solid transparent;
      padding-left: 21px;
      align-items: center;
    }

    .left-navbar-home-search-section li:first-child {
      border-left: 4px solid rgb(30, 215, 96);
    }

    .left-navbar-home-search-section li:first-child a {
      color: white;
    }

    .left-navbar-home-search-section li:first-child a svg path {
      fill: white;
    }

    .left-navbar-home-search-section li svg {
      width: 24px;
      height: 24px;
    }

    .left-navbar-home-search-section li span {
      margin-left: 8px;
      vertical-align: middle;
    }

    .left-navbar-playlist-section {
      padding: 25px 0 0 25px;

      /* to make the navbar's footer always stick to the bottom of the navbar */
      flex-grow: 1;
    }

    .left-navbar-playlist-section h2 {
      font-size: 12px;
    }

    .left-navbar-playlist-section .create-playlist {
      padding-top: 20px;
    }

    .left-navbar-playlist-section .create-playlist a svg {
      width: 32px;
      height: 32px;
      background-color: #b3b3b3;
    }

    .left-navbar-playlist-section .create-playlist a svg path {
      fill: black;
    }

    .left-navbar-playlist-section .create-playlist a:hover svg {
      background-color: white;
    }

    .left-navbar-playlist-section .create-playlist a:hover svg path {
      fill: black;
    }

    .left-navbar-playlist-section .create-playlist a span {
      padding-left: 8px;
    }

    .left-navbar-playlist-section .playlist {
      padding-top: 22px;
    }

    .left-navbar-playlist-section .playlist li {
      padding-top: 14px;
    }

    .left-navbar-playlist-section .playlist li:first-child {
      padding-top: 0;
    }

    .left-navbar footer {
      padding: 25px 25px 20px 25px;
    }

    .left-navbar footer .download span,
    .left-navbar footer .account span {
      padding-left: 8px;
    }

    .left-navbar footer .download svg {
      width: 20px;
      height: 20px;
    }

    .left-navbar footer .account {
      margin-top: 7px;
      padding-top: 7px;
      border-top: 1px solid;
    }

    .left-navbar footer .account svg {
      width: 23px;
      height: 28px;
    }

    .left-navbar footer .account svg path {
      fill: white;
    }

    .left-navbar footer .account span {
      color: white;
    }
  /* /left navbar */

  /* main */
    main {

      /* to make this box fill all the remaining space */
      flex-grow: 1;

      background-image: linear-gradient(141deg, #363449, #21202C);
      letter-spacing: .07rem;
      overflow-y: auto;
    }

    .top-navbar ul {
      display: flex;
      margin: 35px 30px 0;
      justify-content: center;
      flex-wrap: wrap;
    }

    .top-navbar ul li {
      padding: 20px;
    }

    .top-navbar ul li a {
      font-size: 13px;
      font-weight: bold;
      color: rgba(255, 255, 255, .6);
    }

    .top-navbar ul li:first-child a {
      color: white;
    }

    .top-navbar ul li a:after {
      content: "";
      display: block;
      width: 30px;
      height: 2px;
      margin: 3px auto 0;
      background-color: rgb(30, 215, 96);
      visibility: hidden;
    }

    .top-navbar ul li:first-child a:after {
      visibility: visible;
    }

    .popular-playlists-section {
      margin: 40px 30px 0;
    }

    .popular-playlists-section-1st-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .popular-playlists-section-1st-row h1 {
      border-bottom: 1px solid transparent;
      transition: border-bottom .2s linear;
    }

    .popular-playlists-section-1st-row h1 a {
      color: white;
    }

    .popular-playlists-section-1st-row h1:hover {
      border-bottom: 1px solid white;
    }

    .popular-playlists-section-1st-row > a {
      color: rgba(255, 255, 255, .6);
      font-size: 13px;
      font-weight: bold;
    }

    .popular-playlists-section-2nd-row {
      padding-top: 20px;
    }

    .popular-playlists-section-2nd-row .playlist-cover {
      position: relative;
    }

    .popular-playlists-section-2nd-row .playlist-cover .playlist-cover-img {
      width: 220px;
      max-width: 100%;
      height: auto;
    }

    .popular-playlists-section-2nd-row .playlist-cover .play-btn-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 46px;
      height: 46px;
      transition: transform .2s linear;
      visibility: hidden;
    }

    .popular-playlists-section-2nd-row .playlist-cover:hover .playlist-cover-img {
      opacity: 0.2;
    }

    .popular-playlists-section-2nd-row .playlist-cover:hover .play-btn-img {
      visibility: visible;
    }

    .popular-playlists-section-2nd-row .playlist-cover .play-btn-img:hover {
      transform: translate(-50%, -50%) scale(1.24);
    }

    .popular-playlists-section-2nd-row .playlist-name {
      padding-top: 15px;
      text-align: center;
    }

    .popular-playlists-section-2nd-row .playlist-name a {
      color: white;
      font-size: 15px;
    }
  /* /main */

  /* now playing bar */
    .now-playing-bar {
      display: flex;
      height: 90px;
      padding: 0 25px 0 25px;
      background-color: rgba(0, 0, 0, .8);
      color: #b3b3b3;
      justify-content: space-between;
    }

    .now-playing-bar a {
      color: #b3b3b3;
    }

    .left-section {
      display: flex;
      width: 30%;
      align-items: center;
    }

    .left-section img {
      width: 56px;
      height: 56px;
    }

    .left-section .song-name-authors {
      margin-left: 14px;
      margin-right: 14px;
      overflow: hidden;
      white-space: nowrap;
    }

    .left-section .song-name-authors .song-name {
      border-bottom: 1px solid transparent;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: border-bottom .2s linear;
    }

    .left-section .song-name-authors .song-name:hover {
      border-bottom: 1px solid white;
    }

    .left-section .song-name-authors .song-name a {
      color: white;
    }

    .left-section .song-name-authors .song-authors {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .left-section .fa-heart:hover {
      color: white;
      cursor: pointer;
    }

    .center-section {
      width: 54%;
      max-width: 722px;
      padding: 0 25px;
    }

    .center-section .buttons-row {
      display: flex;
      height: 42%;
      justify-content: center;
      align-items: flex-end;
    }
    .center-section .buttons-row .icon-container {
      padding-left: 15px;
      padding-right: 15px;
    }

    .center-section .buttons-row i {
      cursor: pointer;
    }

    .center-section .buttons-row i:hover {
      color: white;
    }

    .center-section .bar-row {
      display: flex;
      height: 58%;
      justify-content: center;
      align-items: center;
    }

    .center-section .bar-row span {
      font-size: 12px;
    }

    .center-section .progress-bar-border {
      flex-grow: 1;
    }

    .center-section .progress-bar-color {
      width: 25%;
    }

    .right-section {
      display: flex;
      width: 26%;
      justify-content: flex-end;
      align-items: center;
    }

    .right-section i {
      padding-left: 20px;
      cursor: pointer;
    }

    .right-section i:hover {
      color: white;
    }

    .right-section .progress-bar-border {
      width: 80px;
      margin-left: 10px;
      flex-shrink: 0;
    }

    .right-section .progress-bar-color {
      width: 25%;
    }
  /* /now playing bar */

/* /rules used in specific parts of the page */

/* rules for specific width ranges */
  @media screen and (max-width: 575.98px) {

    /* rules used in specific parts of the page */
    /* /rules used in specific parts of the page */

  }

  @media screen and (max-width: 767.98px) {

    /* rules used in specific parts of the page */
    /* /rules used in specific parts of the page */

  }

  @media screen and (max-width: 991.98px) {

    /* rules used in specific parts of the page */
    /* /rules used in specific parts of the page */

  }

  @media screen and (max-width: 1199.98px) {

    /* rules used in specific parts of the page */
    /* /rules used in specific parts of the page */

  }

  @media screen and (min-width: 1200px) {

    /* rules used in specific parts of the page */
    /* /rules used in specific parts of the page */

  }
/* /rules for specific width ranges */
